.account-notifications {
    display: flex;
    gap: 5rem;
}

.notifications h2 {
    margin-bottom: 2rem;
}

.notifications form {
    display: grid;
    gap: 2rem;
}

.account-notifications .btn-holder {
    display: flex;
    gap: 1.5rem;
}